@font-face {
	font-family: Bion;
	font-display: swap;
	src: url("../fonts/Bion-Bold.woff2") format("woff2"), url("../fonts/Bion-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Bion;
	font-display: swap;
	src: url("../fonts/Bion-Book.woff2") format("woff2"), url("../fonts/Bion-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Bion;
	font-display: swap;
	src: url("../fonts/Bion-BoldCond.woff2") format("woff2"), url("../fonts/Bion-BoldCond.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Bion;
	font-display: swap;
	src: url("../fonts/Bion-BookCond.woff2") format("woff2"), url("../fonts/Bion-BookCond.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
