.about {
    background-image: url("../../img/backgrounds/main@2x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
	min-height: 100vh; 
    
	display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    
    padding: 0 20px; 
    color: #fff;
    margin-top: 50px; 
}

.about .container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
}

.about__inner {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 120px;
}

.about__content{
	text-align: right;
}

.about__details {
	text-align: right;
	font-size: 1.2rem;
	line-height: 1.5;
}

.about__details li {
	margin-bottom: 10px;
	list-style: none;
}

.about .title-1 {
	font-size: 58px;
	margin-bottom: 10px;
	font-weight: 700;
	color: #fff;
}

.about p {
	font-size: 1.1rem;
	margin-bottom: 20px;
}

.about__text {
	font-size: 1rem;
	line-height: 1.6;
	max-width: 800px;
	margin: 0 auto;
}
