.about {
    margin-top: 50px;
    margin-bottom: 80px;
}

.about__inner {
    background-image: url("../../img/backgrounds/main@2x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh; /* на весь экран */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; 
    
    padding: 0 20px;
    color: #fff;

    @media (max-width: 1240px) {
        background-size: contain; /* уменьшается пропорционально */
        background-position: left top; /* или left center */
    }

      @media (max-width: 1240px) {
        background-size: cover;
        background-position: left top; /* или left center */
    }

    @include mobile {
        position: relative;
        background-position: left;       
        
    }
 
}

.about .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.about__wrapper {    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 100px;
       
    margin-top: 20px;
}

.about__details {
    text-align: right;
    font-size: 1.2rem;
    line-height: 1.5;
}

.about__details li {
    margin-bottom: 10px;    
}

.about__content{
    width: 50%;
    text-align: right;
    margin-top: auto;

    @include tablet-small {
        width: 100%;
    }
}

.about .title-1 { 
    margin-bottom: 10px;
    font-weight: 700;
    color: #fff;
}

.about__footer {
    background: #fff;
    color: #000;
    margin-top: 40px;
    padding: 20px;
}

.about__text {
    border: 1px solid #000;    
    font-size: 20px;    
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    
        @include mobile {
            width: 100%;
            font-size: 14px;
            line-height: 1.4;
        }
}
