.contacts{
    text-align: center;   
}

.contacts__wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    padding: 0 40px;

    @include mobile {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }      
}

.contacts__form {
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.contacts__form input, .contacts__form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    resize: none;
}

.contacts__form input:focus, textarea:focus {
    border-color: var(--accent-2);
    outline: none;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
    margin: 10px 0;

    // @include small-mobile{
    //     max-width: 200px

    // }
}
