.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 22px;
	height: 22px;
}

.icon--arrow-left,
.icon--arrow-right {
	width: 50px;
	height: 50px;
	stroke: #000;
}

.icon--facebook, 
.icon--instagram {
	width: 30px;
	height: 30px;
	background: #fff;
	fill: rgb(45, 3, 136);
	transition: all 0.2s ease-in;
	margin-right: 10px;

	&:hover{		
		scale: 1.05;
		fill: rgb(45, 3, 180);

	}

	@include mobile {
		width: 20px;
		height: 20px;
		margin-right: 0;
	}
}

.icon--email,
.icon--phone {
	width: 20px;
	height: 20px;
	fill: var(--accent-2);
	transition: all 0.2s ease-in;
	margin-right: 10px;

	&:hover{
		fill: var(--accent);
		scale: 1.5;
	}

	@include mobile {
		width: 20px;
		height: 20px;
		margin-right: 0;
	}
}

.icon--01andis,
.icon--03charles_w,
.icon--04dikson,
.icon--06frutti,
.icon--08ilu, 
.icon--09kallos, 
.icon--13stapiz,
.icon--16otools,
.icon--18niamh,
.icon--19dandy,
.icon--20fudgeurban,
.icon--21cera,
.icon--23hairwell {
	width: 100px;
	height: 100px;
	fill: var(--accent-2);
}

.icon--02black,
.icon--05feetcalm,
.icon--07fudge,
.icon--10lussoni, 
.icon--11luxina,
.icon--12sanctuaryspa,
.icon--14sttropez, 
.icon--15beautyimage,
.icon--17kashoki, 
.icon--22serical,
.icon--24ceriotti,
.icon--25maxus,
.icon--26kieppe,
.icon--27ecohygiena,
.icon--28hairexpert {
	width: 120px;
	height: 120px;
	fill: var(--accent-2);
}