/* MARQUEE */
.marquee1 {
	margin-top: 170px;
	@media (max-width: 1280px) {
		margin-top: 136px;	
	}
	@media (max-width: 440px) {
		margin-top: 84px;	
	}
}
	.marquee-container {			
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            // background-color: rgb(43, 43, 44, 0.23);
			background: linear-gradient(90deg, #FF2D55, #FB3DFF, #9B23EA);
            padding: 10px 0;
        }

		.marquee1-content {
			display: flex;
			width: max-content;
            align-items: center;
            animation: marquee1 100s linear infinite;
        }
        
		.marquee-item img {
			width: auto;
			height: 400px;
			object-fit: cover;
			margin: 0 10px;
		}

        .marquee-item {
            display: inline-flex;
			align-items: center;
            padding: 10px 20px;
            margin: 0 50px;
            background: linear-gradient(90deg, #FF2D55, #FB3DFF, #9B23EA);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

			@media(max-width:440px){
				font-size: 100px;
				line-height: 136.18px;
				letter-spacing: 2px;
			}
        }
	
		@keyframes marquee1 {
			from {
				transform: translateX(0);
			}
			to {
				transform: translateX(-50%);
			}
        }
	