.city__list{
    display: flex;    
    gap: 20px;
    margin-bottom: 20px;
}

.city-header{
    display: flex;
    gap: 30px;     
    align-items: baseline;
    
}

.shops-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content:center;
}
.shops__Riga, .shops__Liepaja, .shops__Rezekne, .shops__Ventspils {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shops__title {
}
.shop {
}
.shop__img {
}
.shop__info {
}