/* ---------- LANGUAGE SWITCHER ---------- */
.switcher-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 140px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 16px;
    gap: 10px;

    @include mobile {
        width: auto;
        height: 20px;
        padding: 0;
        gap: 3px;
    }
}

.switcher-wrapper .switcher {
    position: relative;
    flex: 0 0 auto;
    padding: 3px 6px;
    min-width: 28px;
    text-align: center;
    color: var(--accent);
    transition: color .25s ease-in-out;
    z-index: 2;
    cursor: pointer;

    @include mobile {
        padding: 1px 3px;
        font-size: 12px;
    }
}

.switcher:hover {
    background: rgba(255, 255, 255, 0.2);
}

.switcher-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 35px;
    width: 140px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 14px;

    @include mobile {
        width: 100px;
        height: 20px;
        padding: 0;
    }
}

.switcher-wrapper:hover {
    opacity: 1;
}

.switcher-wrapper input[type="radio"] {
    display: none;
}

.switcher-wrapper .switcher {
    position: relative;
    flex: 1 1 calc(100% / 3);
    text-align: center;
    color: var(--accent);
    transition: color .25s ease-in-out;
    z-index: 2;
    cursor: pointer;
}

.switcher-wrapper input[type="radio"]:checked+.switcher {
    color: #fff;
}

.lang-placeholder {
    width: 34px;
    height: 28px;
    border-radius: 3px;
    background: var(--accent);
    position: absolute;
    z-index: 1;
    transition: left .25s ease-in-out;

    @include mobile {
        width: 18px;
        height: 16px;
    }

    @include mobile {
        display: none;
    }
}

.switcher-wrapper input[type="radio"]:nth-of-type(1):checked~.lang-placeholder {
    left: 12px;
}

.switcher-wrapper input[type="radio"]:nth-of-type(2):checked~.lang-placeholder {
    left: 54px;

}

.switcher-wrapper input[type="radio"]:nth-of-type(3):checked~.lang-placeholder {
    left: 95px;

}