.swiper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;   
}
 
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;      
}

.swiper-slide img {
    max-width: 450px;
    width: 100%;
    height: auto;       
}
