h1.title-1 {
	margin: 1em 0 0.5em;
	font-size: clamp(1.375rem, 0.693rem + 3.41vw, 3.25rem);
	// font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: var(--font-main);	
}

.title-2 {
	margin: 1em 0 0.5em;
	font-size: clamp(1.5rem, 1rem + 2.5vw, 2.875rem);
	font-weight: 700;
	font-family: var(--font-main);
	text-transform: uppercase;
	margin-bottom: 40px;

	@include mobile {
		margin: 20px 0 10px;
	}
	
}


.title-3 {
	margin: 1em 0 0.5em;
	font-size: 26px;
	font-weight: 700;
	font-family: var(--font-titles);
}

.title-4 {
	margin: 1em 0 0.5em;
	font-size: 18px;
	font-weight: 700;
	font-family: var(--font-titles);
}