.vacancies{
    margin-top: 200px;
}

.vacancy__list {
}
.vacancy__list-item {
}


.vacancy__form form{
    margin: 0 auto;
    border-radius: 10px;
    max-width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #000;

}